
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="index::header">

    <title>异常还书</title>

    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="id" th:value="${id}">
    <input type="hidden" name="bookId" th:value="${bid}">
    <div class="layui-form-item">
        <label class="layui-form-label required">异常类型</label>
        <div class="layui-input-block">
            <select name="backType" id="backType" lay-verify="required">
                <option value="">请选择</option>
                <option value="1">延迟还书</option>
                <option value="2">破损还书</option>
                <option value="3">丢失</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">异常备注</label>
        <div class="layui-input-block">
            <textarea name="remarks" class="layui-textarea"> </textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认还书</button>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var datas=data.field;//form单中的数据信息
            //向后台发送数据提交添加
            $.ajax({
                url:"/lend-list/updateLendInfoSubmit",
                type:"POST",
                data:datas,
                response:{
                    statusCode:200,
                    statusName: 'code',
                    msgName:"msg",
                    dataName: 'data'
                },
                success:function(result){
                    if(result.code==200){//如果成功
                        layer.msg('还书成功',{
                            icon:6,
                            time:500
                        },function(){
                            parent.window.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }else{
                         layer.msg("还书失败");
                    }
                }
            })
            return false;
        });

    });
</script>
</body>
</html>
